@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@repo/components/styles.css';

@import 'swiper/css';
@import 'swiper/css/pagination';

@font-face {
  font-family: 'YekanBakhVF';
  src: url('/assets/shared/fonts/YekanBakh-VF.ttf');
}

* {
  font-family: 'YekanBakhVF', sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: #f24f7a;
  border-radius: 10px;
}

.landing_container {
  @apply w-full sm:w-9/12 md:w-8/12 lg:w-6/12;
}

textarea {
  resize: none;
}

.MuiPagination-ul button {
  font-family: 'YekanBakhVF';
}

.MuiPagination-ul li:nth-child(-n + 2),
.MuiPagination-ul li:nth-last-child(-n + 2) {
  transform: rotate(180deg);
}

td {
  border: 1px solid;
  font-size: 14px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #7e7e7e;
}

/* # Old banner styles */
.bannerBetweenNew {
  border-radius: 16px;
  margin: 0;
  position: relative;
}

.bannerBetweenNew .frameBanner {
  padding-right: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .bannerBetweenNew {
    text-align: center;
  }

  .bannerBetweenNew .frameBanner {
    /* background-image: url(../assets/images/betweenBanner/new/coverBgBannerM.webp); */
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding-left: 24px;
  }

  .bannerBetweenNew .bannerContent a {
    font-size: 18px;
    padding: 8px 12px;
    margin-top: 24px !important;
    display: flex !important;
    justify-self: center;
  }

  .bannerBetweenNew .cover.coverMobile {
    display: block;
  }

  .bannerBetweenNew .cover {
    display: none;
  }

  .bannerBetweenNew .frameBanner .bannerContent p {
    max-width: 100% !important;
  }

  .bannerBetweenNew .frameBanner .bannerContent h5 {
    text-align: center;
  }

  .bannerBetweenNew .frameBanner .bannerContent p {
    text-align: center;
  }
}

.bannerBetweenNew .cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: unset;
  height: 100%;
  opacity: 0.6;
}

.bannerBetweenNew .coverMobile {
  display: none;
}

.bannerBetweenNew .frameBanner img {
  width: 100%;
  height: 100%;
}

.bannerBetweenNew .frameBanner .bannerContent h5 {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1.24px;
}

.bannerBetweenNew .frameBanner .bannerContent p {
  margin: 5px 0 0 0;
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -1.24px;
  max-width: 80%;
}

.bannerBetweenNew .bannerContent {
  padding: 32px 0;
}

.bannerBetweenNew .bannerContent a {
  position: unset !important;
  margin-top: 38px;
  display: inline-block;
  border-radius: 100px;
}

/*  between banner blogs style */

@media (max-width: 768px) {
  .showIframe iframe {
    height: 300px;
  }

  .bannerBetweenArticles.bannerBetweenMobile .firstText {
    width: 100% !important;
    display: block !important;
    font-size: 18px !important;
    text-align: center;
    line-height: 28px;
    margin: 16px 0 !important;
  }

  .bannerBetweenArticles.bannerBetweenMobile .bannerContent {
    position: relative !important;
  }

  .bannerBetweenArticles.bannerBetweenMobile a {
    /* position: relative !important; */
    /* bottom: unset !important; */
    right: 40px !important;
    padding: 10px 24px;
    font-variation-settings: 'wght' 500;
    bottom: -25px;
  }

  .bannerBetweenArticles.bannerBetweenMobile .singleElement {
    width: 100% !important;
  }

  .bannerBetweenArticles.bannerBetweenMobile.bardari {
    background: linear-gradient(267deg, #ffd0e7 -8.55%, #c9e5bb -8.54%, #fee5ae 92.65%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.woman1 {
    background: linear-gradient(270deg, #fbd5d0 0%, #f2a2bf 100%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.ravan {
    background: linear-gradient(270deg, #e7e6fe 0%, #ddc0f2 100%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.man1 {
    background: linear-gradient(90deg, #d4d7ff 0%, #e7e8ff 100%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.man2 {
    background: linear-gradient(90deg, #d4d7ff 0%, #e7e8ff 100%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.pishgiri {
    background: linear-gradient(90deg, #d8cded 28.04%, #ddf2f2 99.93%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.period {
    background: linear-gradient(270deg, #fbd5d0 0%, #f2a2bf 100%);
  }

  .bannerBetweenArticles.bannerBetweenMobile.sex {
    background: var(--Linear, linear-gradient(270deg, #e7e6fe 0%, #ddc0f2 100%));
  }

  .bannerBetweenArticles.bannerBetweenMobile.life {
    background: var(--Linear, linear-gradient(90deg, #ffdac7 0%, #ffede3 100%));
  }

  .bannerBetweenArticles.bannerBetweenMobile {
    border-radius: 16px;
    bottom: unset !important;
    right: unset !important;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 32px 30px;
  }
}

.bannerBetweenArticles {
  position: relative;
}

.bannerBetweenArticles .bannerContent {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 16px 16px;
}

.bannerContent .logo {
  color: #ec407a;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.72px;
}

.bannerContent .firstText {
  display: inline-block;
  margin-bottom: 15px;
}

.bannerContent div {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.72px;
  margin: 0;
}

.bannerContent a {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: rgb(236, 64, 122);
  color: #ffffff !important;
  position: absolute;
  bottom: 30px;
  right: 26px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  box-shadow: 0px 4px 24px 0px rgba(15, 15, 15, 0.1);
  animation: scaleAnimation 1.5s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.bannerBetweenArticles img {
  width: 100%;
  height: 100%;
}

.bannerMobile {
  display: none;
}

.notShow {
  display: none;
}

@media (max-width: 768px) {
  .stickyTableOfContents {
    display: block !important;
  }

  .mdDown {
    display: none;
  }

  .mdUp {
    display: block;
  }

  .bannerMobile {
    display: block;
  }

  .bannerDesktop {
    display: none;
  }

  .bannerContent a {
    padding: 5px 10px;
    bottom: 19px;
    right: 8px;
    font-size: 14px;
  }

  .bannerContent div {
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.72px;
    margin: 0;
    width: 70%;
  }

  .bannerBetweenArticles .bannerContent {
    padding: 10px;
  }

  .bannerContent .logo {
    color: #ec407a;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.72px;
  }

  .bannerContent .firstText {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    font-size: 12px !important;
    margin-top: 15px;
    line-height: 22px;
  }

  .singleElement .firstText {
    width: 80% !important;
  }

  .bannerValentine {
    display: flex !important;
  }

  .bannerValentine img {
    width: 100%;
    height: 100%;
  }
}

/* # Theme Colors */
:root {
  --color-Transparent: transparent;
  --color-Black: #000000;
  --color-White: #ffffff;
  --color-Header: #ffffff;

  --color-Primary_Primary: #f24f7a;
  --color-Primary_OnPrimary: #ffffff;
  --color-Primary_PrimaryContainer: #fce7eb;
  --color-Primary_OnPrimaryContainer: #6c2337;

  --color-PrimaryMan_PrimaryMan: #3b82f6;
  --color-PrimaryMan_OnPrimaryMan: #ffffff;
  --color-PrimaryMan_PrimaryContainerMan: #e6ebfd;
  --color-PrimaryMan_OnPrimaryContainerMan: #1a3a6e;

  --color-Cycle_Pms_Eyebrow: #7d42bf;
  --color-Cycle_Pms_Title: #48266e;
  --color-Cycle_Pms_Subtitle: #48266e;
  --color-Cycle_Pms_Frame: #f7f3fe;
  --color-Cycle_Ovulation_Eyebrow: #187f86;
  --color-Cycle_Ovulation_Title: #0e494d;
  --color-Cycle_Ovulation_Subtitle: #0e494d;
  --color-Cycle_Ovulation_Frame: #f2f7f8;
  --color-Cycle_Normal_Eyebrow: #0068bc;
  --color-Cycle_Normal_Title: #003c6d;
  --color-Cycle_Normal_Subtitle: #003c6d;
  --color-Cycle_Normal_Frame: #f2f6fe;
  --color-Cycle_Period_Eyebrow: #bb3d5f;
  --color-Cycle_Period_Title: #6c2337;
  --color-Cycle_Period_Subtitle: #6c2337;
  --color-Cycle_Period_Frame: #fff4f3;
  --color-Cycle_BabyTracker_Eyebrow: #c24d31;
  --color-Cycle_BabyTracker_Title: #702d1c;
  --color-Cycle_BabyTracker_Subtitle: #702d1c;
  --color-Cycle_BabyTracker_Frame: #fff4f3;
  --color-Cycle_Feeding_Eyebrow: #bb7c3e;
  --color-Cycle_Feeding_Title: #6c4824;
  --color-Cycle_Feeding_Subtitle: #6c4824;
  --color-Cycle_Feeding_Frame: #fef7f3;

  --color-Secondary_Secondary: #5389de;

  --color-Success_Success: #34b288;
  --color-Success_SuccessContainer: #e5f2ec;
  --color-Success_OnSuccess: #ffffff;
  --color-Success_OnSuccessContainer: #17503d;

  --color-Neutral_Background: #ffffff;
  --color-Neutral_OnBackground: #202020;
  --color-Neutral_Surface: #efefef;
  --color-Neutral_OnSurface: #202020;

  --color-Error_Error: #ef4444;
  --color-Error_OnError: #ffffff;
  --color-Error_ErrorContainer: #fce6e6;
  --color-Error_OnErrorContainer: #6b1e1e;

  --color-Warning_Warning: #f5900b;
  --color-Warning_OnWarning: #ffffff;
  --color-Warning_WarininContainer: #ffedd5;
  --color-Warning_OnWarininContainer: #6e4005;

  --color-Surface_Scrim: #000000;
  --color-Surface_Outline: #7e7e7e;
  --color-Surface_OutlineVariant: #d0d0d0;
  --color-Surface_SurfaceVariant: #f7f7f7;
  --color-Surface_OnSurfaceVariant: #4f4f4f;
  --color-Surface_InverseSurface: #353535;
  --color-Surface_InverseOnSurface: #f7f7f7;

  --color-Calendar_PMS_Background: #e7d5ff;
  --color-Calendar_PMS_OnBackground: #48266e;
  --color-Calendar_Period_Background: #ffccda;
  --color-Calendar_Period_OnBackground: #6c2337;
  --color-Calendar_Fertility_Background: #c8eeef;
  --color-Calendar_Fertility_OnBackground: #0e494d;
  --color-Calendar_Fertility_Ovulation: #1fa4ad;
  --color-Calendar_Pregnancy_Background1: #ffc2bd;
  --color-Calendar_Pregnancy_Background2: #ffe3e0;
  --color-Calendar_Pregnancy_OnBackground: #70342d;
  --color-Calendar_Breastfeeding_Background1: #bcdbff;
  --color-Calendar_Breastfeeding_Background2: #d9ebff;
  --color-Calendar_Breastfeeding_OnBackground: #163457;

  --color-Grey_50: #f7f7f7;
  --color-Grey_100: #efefef;
  --color-Grey_200: #dddddd;
  --color-Grey_300: #cacaca;
  --color-Grey_400: #b6b6b6;
  --color-Grey_500: #9e9e9e;
  --color-Grey_600: #8d8d8d;
  --color-Grey_700: #7a7a7a;
  --color-Grey_800: #646464;
  --color-Grey_900: #474747;

  --color-Pink: #fde6ec;
  --color-Pink_50: #fef3f5;
  --color-Pink_100: #fce7eb;
  --color-Pink_200: #faccd4;
  --color-Pink_300: #f7acbb;
  --color-Pink_400: #f5869e;
  --color-Pink_500: #f24f7a;
  --color-Pink_600: #d8476d;
  --color-Pink_700: #bb3d5f;
  --color-Pink_800: #99324d;
  --color-Pink_900: #6c2337;

  --color-Purple_50: #f7f3fe;
  --color-Purple_100: #efe7fd;
  --color-Purple_200: #decdfc;
  --color-Purple_300: #ccaefa;
  --color-Purple_400: #b889f9;
  --color-Purple_500: #a155f7;
  --color-Purple_600: #904cdd;
  --color-Purple_700: #7d42bf;
  --color-Purple_800: #66369c;
  --color-Purple_900: #48266e;

  --color-Blue_50: #f2f6fe;
  --color-Blue_100: #e4ecfd;
  --color-Blue_200: #c6d7fa;
  --color-Blue_300: #a1c0f8;
  --color-Blue_400: #72a5f5;
  --color-Blue_500: #0086f3;
  --color-Blue_600: #0078d9;
  --color-Blue_700: #0068bc;
  --color-Blue_800: #00559a;
  --color-Blue_900: #003c6d;

  --color-Cyan_50: #f2f7f8;
  --color-Cyan_100: #e4f0f1;
  --color-Cyan_200: #c6dfe2;
  --color-Cyan_300: #a3cdd2;
  --color-Cyan_400: #75bac0;
  --color-Cyan_500: #1fa4ad;
  --color-Cyan_600: #1c939b;
  --color-Cyan_700: #187f86;
  --color-Cyan_800: #14686d;
  --color-Cyan_900: #0e494d;

  --color-Green_50: #f4f6f4;
  --color-Green_100: #e8ece8;
  --color-Green_200: #cfd8ce;
  --color-Green_300: #b2c1b1;
  --color-Green_400: #8fa88d;
  --color-Green_500: #618a5d;
  --color-Green_600: #577b53;
  --color-Green_700: #4b6b48;
  --color-Green_800: #3d573b;
  --color-Green_900: #2b3e2a;

  --color-Yellow: #ffcc00;
  --color-Yellow_50: #fef7f3;
  --color-Yellow_100: #fcefe7;
  --color-Yellow_200: #fadecc;
  --color-Yellow_300: #f7cbad;
  --color-Yellow_400: #f5b787;
  --color-Yellow_500: #f2a050;
  --color-Yellow_600: #d88f48;
  --color-Yellow_700: #bb7c3e;
  --color-Yellow_800: #996533;
  --color-Yellow_900: #6c4824;

  --color-Orange_50: #fff4f3;
  --color-Orange_100: #fee8e6;
  --color-Orange_200: #fdcfca;
  --color-Orange_300: #fcb3a8;
  --color-Orange_400: #fb917f;
  --color-Orange_500: #fa643f;
  --color-Orange_600: #e05938;
  --color-Orange_700: #c24d31;
  --color-Orange_800: #9e3f28;
  --color-Orange_900: #702d1c;

  --color-Red_50: #fdf3f3;
  --color-Red_100: #fce6e6;
  --color-Red_200: #f9caca;
  --color-Red_300: #f6aaaa;
  --color-Red_400: #f28181;
  --color-Red_500: #ef4444;
  --color-Red_600: #d63d3d;
  --color-Red_700: #b93535;
  --color-Red_800: #972b2b;
  --color-Red_900: #6b1e1e;
}

.dark {
  --color-Transparent: transparent;
  --color-Black: #000000;
  --color-White: #ffffff;
  --color-Header: #000000;

  --color-Primary_Primary: #ffb2c1;
  --color-Primary_OnPrimary: #5f112a;
  --color-Primary_PrimaryContainer: #7d2d43;
  --color-Primary_OnPrimaryContainer: #ffd9e2;

  --color-PrimaryMan_PrimaryMan: #3b82f6;
  --color-PrimaryMan_OnPrimaryMan: #ffffff;
  --color-PrimaryMan_PrimaryContainerMan: #e6ebfd;
  --color-PrimaryMan_OnPrimaryContainerMan: #1a3a6e;

  --color-Cycle_Pms_Eyebrow: #7d42bf;
  --color-Cycle_Pms_Title: #48266e;
  --color-Cycle_Pms_Subtitle: #48266e;
  --color-Cycle_Pms_Frame: #f7f3fe;
  --color-Cycle_Ovulation_Eyebrow: #187f86;
  --color-Cycle_Ovulation_Title: #0e494d;
  --color-Cycle_Ovulation_Subtitle: #0e494d;
  --color-Cycle_Ovulation_Frame: #f2f7f8;
  --color-Cycle_Normal_Eyebrow: #0068bc;
  --color-Cycle_Normal_Title: #003c6d;
  --color-Cycle_Normal_Subtitle: #003c6d;
  --color-Cycle_Normal_Frame: #f2f6fe;
  --color-Cycle_Period_Eyebrow: #bb3d5f;
  --color-Cycle_Period_Title: #6c2337;
  --color-Cycle_Period_Subtitle: #6c2337;
  --color-Cycle_Period_Frame: #fff4f3;
  --color-Cycle_BabyTracker_Eyebrow: #c24d31;
  --color-Cycle_BabyTracker_Title: #702d1c;
  --color-Cycle_BabyTracker_Subtitle: #702d1c;
  --color-Cycle_BabyTracker_Frame: #fff4f3;
  --color-Cycle_Feeding_Eyebrow: #bb7c3e;
  --color-Cycle_Feeding_Title: #6c4824;
  --color-Cycle_Feeding_Subtitle: #6c4824;
  --color-Cycle_Feeding_Frame: #fef7f3;

  --color-Secondary_Secondary: #5389de;

  --color-Success_Success: #34b288;
  --color-Success_SuccessContainer: #e5f2ec;
  --color-Success_OnSuccess: #ffffff;
  --color-Success_OnSuccessContainer: #17503d;

  --color-Neutral_Background: #202020;
  --color-Neutral_OnBackground: #ffffff;
  --color-Neutral_Surface: #b4b4b4;
  --color-Neutral_OnSurface: #efefef;

  --color-Error_Error: #ef4444;
  --color-Error_OnError: #ffffff;
  --color-Error_ErrorContainer: #fce6e6;
  --color-Error_OnErrorContainer: #6b1e1e;

  --color-Warning_Warning: #f5900b;
  --color-Warning_OnWarning: #ffffff;
  --color-Warning_WarininContainer: #ffedd5;
  --color-Warning_OnWarininContainer: #6e4005;

  --color-Surface_Scrim: #000000;
  --color-Surface_Outline: #d0d0d0;
  --color-Surface_OutlineVariant: #7e7e7e;
  --color-Surface_SurfaceVariant: #4f4f4f;
  --color-Surface_OnSurfaceVariant: #f7f7f7;
  --color-Surface_InverseSurface: #f7f7f7;
  --color-Surface_InverseOnSurface: #353535;

  --color-Calendar_PMS_Background: #e7d5ff;
  --color-Calendar_PMS_OnBackground: #48266e;
  --color-Calendar_Period_Background: #ffccda;
  --color-Calendar_Period_OnBackground: #6c2337;
  --color-Calendar_Fertility_Background: #c8eeef;
  --color-Calendar_Fertility_OnBackground: #0e494d;
  --color-Calendar_Fertility_Ovulation: #1fa4ad;
  --color-Calendar_Pregnancy_Background1: #ffc2bd;
  --color-Calendar_Pregnancy_Background2: #ffe3e0;
  --color-Calendar_Pregnancy_OnBackground: #70342d;
  --color-Calendar_Breastfeeding_Background1: #bcdbff;
  --color-Calendar_Breastfeeding_Background2: #d9ebff;
  --color-Calendar_Breastfeeding_OnBackground: #163457;

  --color-Grey_50: #f7f7f7;
  --color-Grey_100: #efefef;
  --color-Grey_200: #dddddd;
  --color-Grey_300: #cacaca;
  --color-Grey_400: #b6b6b6;
  --color-Grey_500: #9e9e9e;
  --color-Grey_600: #8d8d8d;
  --color-Grey_700: #7a7a7a;
  --color-Grey_800: #646464;
  --color-Grey_900: #474747;

  --color-Pink: #fde6ec;
  --color-Pink_50: #fef3f5;
  --color-Pink_100: #fce7eb;
  --color-Pink_200: #faccd4;
  --color-Pink_300: #f7acbb;
  --color-Pink_400: #f5869e;
  --color-Pink_500: #f24f7a;
  --color-Pink_600: #d8476d;
  --color-Pink_700: #bb3d5f;
  --color-Pink_800: #99324d;
  --color-Pink_900: #6c2337;

  --color-Purple_50: #f7f3fe;
  --color-Purple_100: #efe7fd;
  --color-Purple_200: #decdfc;
  --color-Purple_300: #ccaefa;
  --color-Purple_400: #b889f9;
  --color-Purple_500: #a155f7;
  --color-Purple_600: #904cdd;
  --color-Purple_700: #7d42bf;
  --color-Purple_800: #66369c;
  --color-Purple_900: #48266e;

  --color-Blue_50: #f2f6fe;
  --color-Blue_100: #e4ecfd;
  --color-Blue_200: #c6d7fa;
  --color-Blue_300: #a1c0f8;
  --color-Blue_400: #72a5f5;
  --color-Blue_500: #0086f3;
  --color-Blue_600: #0078d9;
  --color-Blue_700: #0068bc;
  --color-Blue_800: #00559a;
  --color-Blue_900: #003c6d;

  --color-Cyan_50: #f2f7f8;
  --color-Cyan_100: #e4f0f1;
  --color-Cyan_200: #c6dfe2;
  --color-Cyan_300: #a3cdd2;
  --color-Cyan_400: #75bac0;
  --color-Cyan_500: #1fa4ad;
  --color-Cyan_600: #1c939b;
  --color-Cyan_700: #187f86;
  --color-Cyan_800: #14686d;
  --color-Cyan_900: #0e494d;

  --color-Green_50: #f4f6f4;
  --color-Green_100: #e8ece8;
  --color-Green_200: #cfd8ce;
  --color-Green_300: #b2c1b1;
  --color-Green_400: #8fa88d;
  --color-Green_500: #618a5d;
  --color-Green_600: #577b53;
  --color-Green_700: #4b6b48;
  --color-Green_800: #3d573b;
  --color-Green_900: #2b3e2a;

  --color-Yellow: #ffcc00;
  --color-Yellow_50: #fef7f3;
  --color-Yellow_100: #fcefe7;
  --color-Yellow_200: #fadecc;
  --color-Yellow_300: #f7cbad;
  --color-Yellow_400: #f5b787;
  --color-Yellow_500: #f2a050;
  --color-Yellow_600: #d88f48;
  --color-Yellow_700: #bb7c3e;
  --color-Yellow_800: #996533;
  --color-Yellow_900: #6c4824;

  --color-Orange_50: #fff4f3;
  --color-Orange_100: #fee8e6;
  --color-Orange_200: #fdcfca;
  --color-Orange_300: #fcb3a8;
  --color-Orange_400: #fb917f;
  --color-Orange_500: #fa643f;
  --color-Orange_600: #e05938;
  --color-Orange_700: #c24d31;
  --color-Orange_800: #9e3f28;
  --color-Orange_900: #702d1c;

  --color-Red_50: #fdf3f3;
  --color-Red_100: #fce6e6;
  --color-Red_200: #f9caca;
  --color-Red_300: #f6aaaa;
  --color-Red_400: #f28181;
  --color-Red_500: #ef4444;
  --color-Red_600: #d63d3d;
  --color-Red_700: #b93535;
  --color-Red_800: #972b2b;
  --color-Red_900: #6b1e1e;
}
