.main {
  opacity: 0;
  width: 100%;
  position: fixed;
}

.main.scalingAnimation {
  opacity: 1;
  width: 100%;
  overflow: hidden;
  position: initial;
  animation: animation 0.5s;
}

@keyframes animation {
  from {
    max-height: 0;
  }
  to {
    max-height: var(--maxHight);
  }
}
