button,
input {
  outline: none;
}
input {
  direction: rtl;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #202020 !important;
  caret-color: #202020 !important;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
}

.scrollbar {
  padding-bottom: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 8px;
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollbar.hide {
  padding-bottom: 0px;
}
.scrollbar.hide::-webkit-scrollbar-thumb {
  background: transparent;
}
.scrollbar.hide::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.OnMountActionsEventListener-styles::-webkit-scrollbar {
  display: none;
}
.OnMountActionsEventListener-styles {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.WidgetScaleModule {
  opacity: 0;
  width: 100%;
  position: fixed;
}
.WidgetScaleModule_scaling {
  opacity: 1;
  width: 100%;
  overflow: hidden;
  position: initial;
  animation: WidgetScaleModuleAnimation 0.5s;
}
@keyframes WidgetScaleModuleAnimation {
  from {
    max-height: 0;
  }
  to {
    max-height: var(--maxHight);
  }
}
