.modal :global(.MuiPaper-root) {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  min-height: fit-content !important;
  min-width: fit-content !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
