@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YekanBakhVF;
  src: url('/assets/shared/fonts/YekanBakh-VF.ttf');
}

@import '@repo/components/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import '~react-toastify/dist/ReactToastify.min.css';

body {
  font-family: YekanBakhVF;
}

.glass-card {
  @apply bg-white/10 backdrop-blur-[8px]  border border-white/30;
}

.glass-card-hover:hover {
  @apply bg-white/20 shadow-lg;
}

button,
input {
  outline: none;
}

input {
  direction: rtl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}
