@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YekanBakhVF;
  src: url('/assets/shared/fonts/YekanBakh-VF.ttf');
}

@import '@repo/components/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import '~react-toastify/dist/ReactToastify.min.css';

body {
  font-family: YekanBakhVF;
}

button,
input {
  outline: none;
}

input {
  direction: rtl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.glass {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 40px !important;
}

.custom-glass {
  --glass-opacity: 0.15;
  --glass-blur: 4px;
  --animation-duration: 3s;
}
