@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@repo/core/theme.css';
@import '@repo/core/theme.tailwind.css';

@import '~react-toastify/dist/ReactToastify.min.css';

@font-face {
  font-family: YekanBakhVF;
  src: url('/assets/shared/fonts/YekanBakh-VF.ttf');
}

body {
  font-family: YekanBakhVF;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.glass-card {
  @apply bg-white/10 dark:!bg-[#2B2B2B80] backdrop-blur-[8px] border border-white/30;
}
.glass-card-hover:hover {
  @apply bg-white/20 shadow-lg;
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #353535;
}
.dark .swiper-pagination-bullet {
  background-color: #ffff;
}
