.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  border-color: #d0d0d0 !important;
}

.input {
  border-color: #d0d0d0 !important;
  outline: 0 !important;
}

.input::placeholder {
  color: #d0d0d0;
}
