.scrollbar {
  padding-bottom: 10px;

  /* iOS complete scrollbar remove */
  -webkit-overflow-scrolling: auto !important;
  scrollbar-width: none !important;
}

.scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Desktop styles */
.scrollbar::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 8px;
}

.scrollbar.hide {
  padding-bottom: 0;
}

.scrollbar.hide::-webkit-scrollbar-thumb {
  background: transparent;
}
