.container {
  width: 100%;
}

.container * {
  font-family: YekanBakhVF !important;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin: 20px 0;
}

.container p {
  text-align: justify;
  font-weight: 400;
  font-size: 15px;
  line-height: 190%;
  letter-spacing: -0.225px;
}

.container p span {
  text-align: justify;
  font-size: 15px !important;
}

.container p strong {
  text-align: justify;
  font-weight: 500;
  font-size: 15px;
}

.container h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.36px;
  padding: 20px 0 16px 0;
}

.container h2 strong {
  font-weight: 600;
  font-size: 22px;
}

.container h3 {
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: -0.285px;
  padding: 16px 0 8px 0;
}

.container h3 strong {
  font-weight: 600;
  font-size: 19px;
}

.container ul {
  padding: 16px 8px 16px 0;
  margin-right: 16px;
}

.container ul li {
  font-weight: 400;
  font-size: 13px;
  line-height: 280%;
  letter-spacing: -0.225px;
  list-style-type: disc;
}

.container ul li strong {
  font-weight: 600;
  font-size: 15px;
}

.container a {
  color: #f24f7a;
}

.container table {
  width: 100%;
  padding: 16px 0;
  margin: 16px 0;
}

.container table td {
  padding: 16px 8px !important;
}

.container table p {
  font-size: 13px !important;
}

.container table p span {
  font-size: 13px !important;
}
